<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myswiftyJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BCF84671C118EEA00240A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCF847B1C118EEA00240A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCF84861C118EEA00240A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
